* {
    background-color:  hsl(212, 45%, 89%);
    /* font-size: 15px; */
    text-align: center;
}

.code {
    border-radius: 15px;
    width: 210px;
    background-color: white;
    position: absolute;
    left: 43%;
    top: 30%;
    height: 350px;
    border: 10px solid white;

}

.first {
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    background-color: white;
}

.second {
    font-family: 'Outfit', sans-serif;
    line-height: 80%;
    font-size: 12px;
    font-weight: 400;
    color:  hsl(220, 15%, 55%);
    background-color: white;
}

.secondText {
    background-color: white;
    line-height: 90%;
}

img {
    width: 210px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    right: 2.5%;
    bottom: 1.5%;
}